@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
    margin: 0;
    background: transparent;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay {
    background: rgba(15, 15, 15, 0.9);
    backdrop-filter: blur(20px);
    width: 390px;
    height: 90px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    position: relative;
}

#track-art {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
}

#track-info {
    margin-left: 15px;
    overflow: hidden;
}

#track-name {
    color: white;
    font-weight: 900;
    font-size: 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#artist-name {
    color: #1DB954;
    font-size: 14px;
    font-weight: 700;
}

@keyframes slideInFade {
    0%, 100% { opacity: 0; transform: translateY(5px); }
    10%, 90% { opacity: 1; transform: translateY(0px); }
}
